/* #Cover
================================================== */

	#cover {
		overflow: hidden;
		position: relative;
	}
	.cover {
		background-color: #ffffff;
		margin-top: 120px;
		border-bottom: 1px solid #E3E6ED;
	}
	.coverphoto {
		position: relative;
		z-index: 2000;
	}
	.coverphoto img {
		width: 380px;
		height: auto;
	}
	.coverphoto img.cp1 {
		opacity: 1;
	}
	.coverphoto img.cp2 {
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		transition:all 0.3s ease-out;
	    -moz-transition:all 0.3s ease-out;
   		-webkit-transition:all 0.3s ease-out;
  		-o-transition:all 0.3s ease-out;
	}
	.coverphoto:hover img.cp1 {
  		opacity: 0;
  		transition:all 0.5s ease-in-out;
	    -moz-transition:all 0.5s ease-in-out;
   		-webkit-transition:all 0.5s ease-in-out;
  		-o-transition:all 0.5s ease-in-out;
  	}
  	.coverphoto:hover img.cp2 {
  		opacity: 1;
  	}


/* #Intro
================================================== */

	.intro {
		border-bottom: 1px solid #E3E6ED;
	}
	.bio01 {
		padding-right: 10px;
	}
	.bio02 {
		padding-left: 10px;
	}
	.bio01 p, .bio02 p {
		font-size: 15px;
		color:#8E91A0;
		text-align: center;
	}



/* #Bridge
================================================== */

	.bridge {
		background-color: #ffe153;
		background: url(../images/about/bridge.png) no-repeat center top scroll;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		text-align: center;
	}
	.bridge-h2 {
		color: #fff;
		margin-bottom: 0px;
	}
	.bridge-h2 a {
		color: #ffe153;
	}

/* #Field
================================================== */

	.field1, .field2 {
		padding: 30px 0 0 0;
	}
	.field h3 {
		text-align: center;
	}
 	.field-sector {
 		text-align: center;
 		margin: 0px 20px 40px 20px;
 	}
 	.field-sector p {
 		font-size: 17px;
		line-height: 26px;
 	}
 	img.field-icon {
		width: 180px;
		height: 150px; }



/* #Field
================================================== */

	.experience {
		border-bottom: 1px solid #E3E6ED;
	}
	.experience ul {
		list-style: none;
	}
	.experience-li {
		margin-bottom: 60px;
	}
	.experience h4 {
		margin-bottom: 6px;
	}
	.experience-italic {
		color: #8E91A0;
		font-style: italic;
		font-size: 15px;
	}
	.experience p {
		margin-top: 16px;
	}
	.list-bullet li {
		list-style: initial;
		margin-bottom: 10px;
		margin-left: 30px;
	}


/* JavaScript Turned Off */

    .no-js .title,
    .no-js .coverphoto,
    .no-js .intro-p,
    .no-js .bridge-h2,
    .no-js .experience {
        visibility: visible;
    }


/* #Media query
================================================== */

    @media only screen and (max-width: 959px) {
    }


    @media only screen and (max-width: 767px) {

	.cover {
		margin-top: 86px;
	}
 	.coverphoto img.cp1 {
		opacity: 0;
	}
	.coverphoto img.cp2 {
		opacity: 1;
	}
	.coverphoto:hover img.cp1 {
  		opacity: 0;
  	}
  	.coverphoto:hover img.cp2 {
  		opacity: 1;
  	}
  	.bridge-h2 {
  		line-height: 42px;
  	}
  	.experience ul {
  		margin-top: 40px;
  	}
	.bio01, .bio02 {
		padding: 0px;
	}
	}

	@media only screen and (max-width: 479px) {

	.coverphoto img {
		width: 100%;
		height: auto;
		}
	}

	@media only screen and (max-width: 320px) {
	}

.revealOnScroll { opacity: 0; }
